/* Social icons */

.title-logo {
	--primary-color: transparent;
	color: var(--primary-color);
}

.title-logo img {
	height: 24px;
	width: 24px;
	margin: 0px 12px 0px 0px;
	opacity: 0.4;
	text-decoration: none;
}

.title-logo img:hover{
	opacity: 0.8;
	text-decoration: none;
}
