{{ define "main" }}

<h1>Home</h1>

<p>
    Hi there. My name is Artur Zakirov.<br><br>

    <strong>Current position:</strong> Senior PostgreSQL Developer at
        <a target="_blank" href="https://www.adjust.com/">adjust</a><br>
    <strong>Languages:</strong> C, Python, Go, Java, C#<br>
    <strong>Database stuff:</strong> PostgreSQL, MS SQL Server<br>
    <strong>Operation System:</strong> Linux<br>
    <strong>Hobbies:</strong> Travel, cycling, bouldering<br>
</p>

<p>
    <a target="_blank" class="title-logo" href="https://github.com/za-arthur">
        <img src="{{ absURL "/images/github.svg" }}"></a>
    <a target="_blank" class="title-logo" href="https://www.linkedin.com/in/za-arthur/">
        <img src="{{ absURL "/images/linkedin-logo.svg" }}"></a>
</p>

{{ end }}
